<div style="text-align:center">
    <h2>Спасибо за ваш заказ</h2>
    <h4>Наш менеджер вскоре свяжится с вами для подтверждения заказа</h4>
    <a class="btn btn-outline-info btn-lg" role="button" asp-area="" asp-controller="Home" asp-action="Index">Вернуться на главную страницу</a>
</div>
