<div class="row">
    <div class="col-12 pb-3">
        <div class="row">
            <div class="telephone-contacts col-4">
                <div class="bigphone">0 800 33 97 12</div>
                <div class="freephone">Бесплатно по Украине</div>
            </div>
            <div class="grafic-contacts col-4">
                <span>Время приема заказов по телефону</span>
                <span class="grafic-time">c 9:00 до 18:00</span>
                <span>В выходные - с 10:00 до 17:00</span>
            </div>
            <div class="email-contacts col-4">
                <span class="wordb" itemprop="email">Email для клиентов: sales@bull_body.ua</span>
                <span class="wordb" itemprop="email">Email для партнеров: partner@bull_body.ua</span>
            </div>
        </div>
    </div>
    <div class="col-12 ">
        <div class="row flex-column">
            <div class="col-4 lc_big">
                Время работы офлайн магазинов:<br>
                Пн-Пт 10:00−20:00<br>
                Сб-Вс 10:00−19:00
            </div>
            <div class="col-4 lc_medium">
                Наши магазины в Киеве:<br />
                пр. Мира 2/3 – (097) 526-96-88<br />
                ул. Драгоманова, 2-Б – (096) 579-14-83<br />
                пр. Оболонский, 7 – (096) 532-41-95<br />
                пр. Воздухофлотский, 52 – (068) 113-22-25<br />
                ул. Васильковская, 6 – (096) 657-44-73<br />
                пр. Степана Бандеры, 20-Б – (068) 536-97-06<br />
                ул. Раисы Окипной, 3 – (073) 887-03-30<br />
                ул. Княжий Затон, 9 – (098) 200-37-37<br />
                пр. Победы, 136 – (073) 108-12-11<br />
                пр. Маяковского, 26-Д – (063) 881-95-10
            </div>
            <div class="col-4 lc_medium">
                Наши магазины в других городах:<br />
                г. Днепр, ул. В. Мономаха, 19 – (093) 638-05-63<br />
                г. Кривой Рог, пр. Гагарина, 47 – (093) 785-28-66<br />
                г. Запорожье, пр. Соборный, 178 – (097) 777-11-00<br />
                г. Винница, ул. Киевская, 2 – (096) 568-37-69<br />
                г. Одесса, ул. Екатерининская, 78 – (096) 566-27-05<br />
                г. Харьков, ул. Студенческая, 2 – (096) 287-27-05
            </div>
        </div>
    </div>
</div>


