@model List<GoogleMapShopInfoViewModel>

<div class="row">
    <div class="col-12 pb-3">
        <div class="row">
            <div class="telephone-contacts col-4">
                <div class="bigphone">0 800 33 97 12</div>
                <div class="freephone">Бесплатно по Украине</div>
            </div>
            <div class="grafic-contacts col-4">
                <span>Время приема заказов по телефону</span>
                <span class="grafic-time">c 9:00 до 18:00</span>
                <span>В выходные - с 10:00 до 17:00</span>
            </div>
            <div class="email-contacts col-4">
                <span class="wordb" itemprop="email">Email для клиентов: sales@bull_body.ua</span>
                <span class="wordb" itemprop="email">Email для партнеров: partner@bull_body.ua</span>
            </div>
        </div>
    </div>
    <div class="col-12 ">
        <div class="row flex-column">
            <div class="col-4 lc_big">
                Время работы офлайн магазинов:<br>
                @Model.First().WorkingHours
            </div>
            <div class="col-4 lc_medium">
                Наши магазины в Киеве:<br />
                @foreach (var info in Model)
                {
                    var contact = $"{info.Adress} - {info.Phone}";
                    @contact

                    <br />
                }
            </div>
            <div class="col-4 lc_medium">
                Наши магазины в других городах:<br />
                г. Днепр, ул. В. Мономаха, 19 – (093) 638-05-63<br />
                г. Кривой Рог, пр. Гагарина, 47 – (093) 785-28-66<br />
                г. Запорожье, пр. Соборный, 178 – (097) 777-11-00<br />
                г. Винница, ул. Киевская, 2 – (096) 568-37-69<br />
                г. Одесса, ул. Екатерининская, 78 – (096) 566-27-05<br />
                г. Харьков, ул. Студенческая, 2 – (096) 287-27-05
            </div>
        </div>
    </div>
</div>
<div id="map" style="width:100%;height:600px;"></div>

<style>
    .shopInfo {
        height: 150px;
        width: 250px;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrW15Ei4rKVcMO_EAZMR-it-bl_BC-K7g&callback=initMap" defer>
</script>

<script type="text/javascript">
    
    var map;

    async function initMap() {

        google.maps.visualRefresh = true;

        var Kiev = new google.maps.LatLng(50.4501, 30.5234);

        var mapOptions = {
            zoom: 15,
            center: Kiev,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var myLatlng = new google.maps.LatLng(50.44319546254059, 30.623799652983227);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Магазин спортивного питания Bull Body'
        });

        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')
    }

    async function getInfo() {
        const uri = '@Url.Action("GetContacts","Home")';
        const response = await fetch(uri)
            .then(res => {
                if (!res.ok)
                    throw (res.json());
                return res;
            });
        return await response.json()
    }

    async function showOnMap(contacts) {
        contacts.forEach(info => {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(info.GeoLat, info.GeoLong),
                map: map,
                title: info.Name
            });
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

            var infowindow = new google.maps.InfoWindow({
                content: "<div class='shopInfo'><h2>" + info.Name +
                    "</h2><div><h4>Адрес: " + info.Adress +
                    "</h4></div><div><h4>Часы работы: " + info.WorkingHours +
                    "</h4></div><div><h4>Телефон: " + info.Phone
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

        });
    }  

    getInfo().then(contacts => showOnMap(contacts));

</script>


