<div class="row text-center">
    <div class="col-12">
        @if(User.Identity.IsAuthenticated)
        {
            <h1>Добро пожаловать на сайт @User.Identity.Name</h1>
            @if (ViewBag.DefaultPassword != null || ViewBag.DefaultPassword == string.Empty)
            {
                <h2>При авторизации вам был присвоен случайный пароль <span style="color:red">@ViewBag.DefaultPassword</span>, пожалуйста, смените его на новый в вашем личном кабинете</h2>
                <h2>Не забудьте подтвердить регистрацию, перейдя по ссылке, отправленную вам в письме после регистрации</h2>
            }
            else
            {
                <h2>Главная страница еще в разработке, пожалуйста, воспользуйтесь навигационной панелью для перехода к продуктам!</h2>
            }
        }
        else
        {
            <h1>Добро пожаловать на сайт</h1>
            <h2>Главная страница еще в разработке, пожалуйста, воспользуйтесь навигационной панелью для перехода к продуктам!</h2>
        }
    </div>
</div>


