<div class="row">
    <div class="col-12">
        <h1>
            ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
        </h1>
        <p class="text-center font-weight-bold">
            ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
        </p>
        <p class="text-left">
            Настоящая Политика конфиденциальности персональных данных (далее - Политика конфиденциальности) действует в отношении всей информации сайта, расположенного на доменном имени bull-body.ua
        </p><br />
        <p class="text-center font-weight-bold">
            1. ОБЩИЕ ПОЛОЖЕНИЯ
        </p>
        <p class="text-left">
            1.1. Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
        </p>
        <p class="text-left">
            1.2. В случае несогласия с условиями Политики конфиденциальности, Пользователь должен прекратить использование сайта.
        </p>
        <p class="text-left">
            1.3 Настоящая Политика конфиденциальности применяется только к этому сайту. Администрация сайта не контролирует и не несет ответственности за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте.
        </p>
        <p class="text-left">
            1.4. Администрация сайта не проверяет достоверность персональных данных, которые предоставляет Пользователь сайта.
        </p><br />
        <p class="text-center font-weight-bold">
            2. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
        </p>
        <p class="text-left">
            2.1 Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта.
        </p>
        <p class="text-left">
            2.2. Персональные данные, разрешенные для обработки в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путем заполнения регистрационной формы на сайте.
        </p><br />
        <p class="text-center font-weight-bold">
            3. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
        </p>
        <p class="text-left">
            3.1. Персональные данные Пользователя Администрация сайта может использовать в целях:
        </p>
        <p class="text-left">
            3.1.1. Идентификации Пользователя для оформления заказа.
        </p>
        <p class="text-left">
            3.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта.
        </p>
        <p class="text-left">
            3.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов по использованию Сайта, оказанию услуг, обработка запросов и заявок от Пользователя.
        </p>
        <p class="text-left">
            3.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
        </p>
        <p class="text-left">
            3.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
        </p>
        <p class="text-left">
            3.1.6. Уведомления Пользователя Сайта о состоянии Заказа.
        </p>
        <p class="text-left">
            3.1.7. Предоставления Пользователю эффективной клиентской и технической поддержки в случае возникновения проблем, связанных с использованием Сайта.
        </p>
        <p class="text-left">
            3.1.8 Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта или от имени партнеров сайта.
        </p><br />
        <p class="text-center font-weight-bold">
            4. ОБЯЗАННОСТИ СТОРОН
        </p>
        <p class="text-left">
            4.1 Пользователь обязан:
        </p>
        <p class="text-left">
            4.1.1. Предоставить информацию о персональных данных, необходимых для пользования Сайтом.
        </p>
        <p class="text-left">
            4.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
        </p>
        <p class="text-left">
            4.2 Администрация сайта обязана:
        </p>
        <p class="text-left">
            4.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 3 настоящей Политики конфиденциальности.
        </p>
        <p class="text-left">
            4.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование или разглашение иными возможными способами переданных персональных данных Пользователя.
        </p>
        <p class="text-left">
            4.2.3 Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте.
        </p>
        <p class="text-left">
            4.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа защиты прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
        </p><br />
        <p class="text-center font-weight-bold">
            5. ОТВЕТСТВЕННОСТЬ СТОРОН
        </p>
        <p class="text-left">
            5.1. Администрация сайта, не выполнившая своих обязательств, несет ответственность за убытки, понесенные Пользователем в связи с неправомерным использованием персональных данных в соответствии с законодательством Украины.
        </p>
        <p class="text-left">
            5.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несет ответственности, если эта конфиденциальная информация:
        </p>
        <p class="text-left">
            5.2.1. Стала общественным достоянием до ее потери или разглашения.
        </p>
        <p class="text-left">
            5.2.2. Была получена от третьей стороны до ее получения Администрацией сайта.
        </p>
        <p class="text-left">
            5.2.3. Была разглашена с согласия Пользователя.
        </p><br />
        <p class="text-center font-weight-bold">
            6. Разрешение споров
        </p>
        <p class="text-left">
            6.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения по добровольному урегулированию спора).
        </p>
        <p class="text-left">
            6.2. Получатель претензии в течение 30 календарных дней со дня получения претензии письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
        </p>
        <p class="text-left">
            6.3. При недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Украины.
        </p>
        <p class="text-left">
            6.3. При недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Украины.
        </p><br />
        <p class="text-center font-weight-bold">
            7. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
        </p>
        <p class="text-left">
            7.1. Администрация сайта имеет право вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
        </p>
        <p class="text-left">
            7.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте интернет-магазина, если иное не предусмотрено новой редакцией Политики
        </p>
    </div>
</div>