

<div class="row">
    <div class="col-12 text-center">
        <h3>
            Благодарим за регистрацию.<br />
            Вы подтвердили свой номер телефона и для завершения регистрации, на указанный вами Email, было отправлено письмо. Подтвердите его, перейдя по ссылке, указанной ввнутри.
        </h3>
    </div>
</div>
