@model string

<div class="row">
    <div class="col-12 text-center">
        @if (Model == null)
        {
            <h3>
                Благодарим за регистрацию, Вам на почту было отправлено письмо с подтверждением регистрации, подтвердите ее, перейдя по указанной в письме ссылке.
            </h3>
        }
        else
        {
            <h3>
                Вам на почту было отправлено письмо с подтверждением регистрации, подтвердите ее, перейдя по указанной в письме ссылке
                или сделайте это позже, <a href="@Model">продолжив оформление заказа!</a>
            </h3>
        }
    </div>
</div>
