@model UserViewModel

<form method="post" style="text-align:center">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="offset-2">
                <h3>Регистрация</h3>
            </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="row text-center">
                <div class="col-2">
                    <img src="/icons/user_icon.png" />
                </div>
                <div class="col-10 align-self-center">
                    <input asp-for=Name class="form-control" placeholder="Введите ваше имя">
                </div>
                <div class="col-10 offset-2">
                    <span asp-validation-for="Name" style="color:red"></span>
                </div>
                <div class="col-2 pt-3">
                    <img src="/icons/user_icon.png" />
                </div>
                <div class="col-10 align-self-center pt-3">
                    <input asp-for=SerName class="form-control" placeholder="Введите вашу фамилию">
                </div>
                <div class="col-10 offset-2 ">
                    <span asp-validation-for="SerName" style="color:red"></span>
                </div>
                <div class="col-2 pt-3">
                    <img src="/icons/user_icon.png" />
                </div>
                <div class="col-10 align-self-center pt-3">
                    <input asp-for=NikName class="form-control" placeholder="Ваш никнейм (видят все)">
                </div>                
                <div class="col-10 offset-2 ">
                    <span asp-validation-for="NikName" style="color:red"></span>
                </div>
                <div class="col-2 pt-3">
                    <img src="/icons/login_icon.png" />
                </div>
                <div class="col-10 align-self-center pt-3">
                    <input asp-for=Login class="form-control"  placeholder="Ваш логин (используется для входа)">
                </div>
                <div class="col-10 offset-2 ">
                    <span asp-validation-for="Login" style="color:red"></span>
                </div>                
                <div class="col-2 pt-3">
                    <img src="/icons/email_icon.png" />
                </div>
                <div class="col-10 align-self-center pt-3">
                    <input asp-for=Email type="email" class="form-control" placeholder="Введите вашу почту">
                </div>
                <div class="col-10 offset-2 ">
                    <span asp-validation-for="Email" style="color:red"></span>
                </div>
                <div class="col-2 pt-3">
                    <img src="/icons/phone_icon.png" />
                </div>
                <div class="col-10 align-self-center pt-3">
                    <input asp-for=Phone class="form-control" placeholder="+380....">
                </div>
                <div class="col-10 offset-2 ">
                    <span asp-validation-for="Phone" style="color:red"></span>
                </div>
                <div class="col-2 pt-3">
                    <img src="/icons/password_icon.png" />
                </div>
                <div class="col-10 align-self-center pt-3">
                    <input asp-for=Password type="password" class="form-control" placeholder="Введите ваш пароль">
                </div>
                <div class="col-10 offset-2">
                    <span asp-validation-for="Password" style="color:red"></span>
                </div>
                <div class="col-2 pt-3">
                    <img src="/icons/password_icon.png" />
                </div>
                <div class="col-10 align-self-center pt-3">
                    <input asp-for=PasswordConfirm type="password" class="form-control" placeholder="Введите пароль повторно">
                </div>
                <div class="col-10 offset-2 ">
                    <span asp-validation-for="PasswordConfirm" style="color:red"></span>
                </div>
            </div>
            <div class="offset-2">                
                <button class="btn btn-dark w-50" style="margin-bottom:10px" type="submit" asp-controller="UserRegistration" asp-action="RegistrationConfirm" asp-route-returnUrl="@ViewBag.ReturnUrl">Зарегестрироваться</button><br />
            </div>
        </div>
    </div>
</form>
