<div class="col-3">
    <table class="table table-hover table-bordered">
        <tr>
            <td class="p-0">
                <a class="btn btn-block text-left" asp-controller="Customer" asp-action="PersonalData" asp-area="User">Личная информация</a>
            </td>
        </tr>
        <tr>
            <td class="p-0">
                <a class="btn btn-block text-left" asp-controller="Customer" asp-action="ClosedOrders" asp-area="User">Мои заказы</a>
            </td>
        </tr>
        <tr>
            <td class="p-0">
                <a class="btn btn-block text-left" asp-controller="Customer" asp-action="EditPersonalData" asp-area="User">Изменить контактную информацию</a>
            </td>
        </tr>
        <tr>
            <td class="p-0">
                <a class="btn btn-block text-left" asp-controller="Customer" asp-action="ChangePassword" asp-area="User">Изменить пароль</a>
            </td>
        </tr>
        <tr>
            <td class="p-0">
                <a class="btn btn-block text-left" asp-controller="UserEntering" asp-action="Logout" asp-area="">Выйти</a>
            </td>
        </tr>
    </table>
</div>
