<div class="text-center">
    <h2>@ViewBag.ErrorTitle</h2>
    <h2>@ViewBag.ErrorMessage</h2>
    <h3><a asp-area="" asp-controller="UserEntering" asp-action="Login">Вернуться на страницу входа</a></h3>
</div>
