<div class="text-center">
    <h2>При переходе по ссылке возникла проблема, попробуйте позже или свяжитесь с администрацией сайта</h2>
    <h3><a asp-area="" asp-controller="UserEntering" asp-action="Login">Вернуться на страницу входа</a></h3>
</div>
