<footer class="border-top footer text-muted">
    <div class="container">
        <div class="col-12 text-left small">
            &copy; 2023 - OnlineShopWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> | Продажа спортпита оптом со склада и в розницу. Спортивное питание BullBody - сеть магазинов спортивного питания!
        </div>
    </div>
</footer>