@using OnlineShop.DB.Models;
<header>
    <nav style="display:block" class="border-secondary border navbar bg-light">
        <div class="row align-items-center">
            <div class="col-3 no-gutters">
                <div class="col-12">
                    <a class="navbar-brand" asp-area="" asp-action="Index" asp-controller="Home">
                        <img class="img-fluid" src="~/icons/Main.png">
                    </a>
                </div>
            </div>
            <div class="col-9">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto">
                        <form method="post" class="form-inline">
                            <input name="searchingText" style="width:440px" class="form-control" type="search" placeholder="Поиск">
                            <button asp-controller="Product" asp-action="SearchProducts" class="btn border-0" type="submit"><img src="/icons/search_icon.png" width="30" /></button>
                        </form>
                    </div>
                    @if (User.IsInRole(Constants.AdminRoleName) || User.IsInRole(Constants.ModeratorRoleName))
                    {
                        <div class="col-auto">
                            <a asp-controller="Order" asp-action="ClosedOrders" asp-area="Admin" role="button" class="btn btn-outline-dark">Администратор</a>
                        </div>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="col-auto">
                            <a asp-controller="UserEntering" asp-action="Login" asp-area="" role="button" class="btn border-0"><img src="~/icons/user_mini_icon.png" width="30" />Войти</a>
                        </div>
                    }
                    else
                    {
                        @await Component.InvokeAsync("PersonalData")
                    }
                    <div class="col-auto">
                        @await Component.InvokeAsync("Comparer")
                    </div>
                    <div class="col-auto">
                        @await Component.InvokeAsync("Basket")
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
@await Html.PartialAsync("NavigationMenu")

