@model int

@if (Model > 0)
{
    <a asp-area="" asp-controller="Product" asp-action="Checkcomparer" class="position-relative">
        <img src="/icons/compare_icon.png" width="40">
        <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill bg-warning" style="font-size:13px; color:black">
            @Model
        </span>
    </a>
}
else
{
    <a href="/product/checkcomparer" ><img  src="/icons/compare_icon.png" width="40"></a>
}
