@model ChangePasswordViewModel
<div class="row">
    @await Html.PartialAsync("AdminMenu")
    <div class="col-9 text-center">
        <div class="row justify-content-center">
            <div class="col-12 mb-3">
                <h3>Смена пароля</h3>
            </div>
            <div class="col-3">
                <form method="post">
                    <input type="hidden" asp-for="Id" /><br />
                    <input asp-for="NewPassword" class="form-control" placeholder="Введите новый пароль" /><br />
                    <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Подтвердите пароль" />
                    <span asp-validation-for="NewPassword" style="color:red"></span>

                    <button style="margin-top:25px" class="btn btn-success" type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangeUserPassword">Изменить</button>
                </form>
            </div>
        </div>
    </div>
</div>