@model decimal

@if(Model > 0)
{
    <a href="/basket/checkout" style="color:darkgrey; "><img src="/icons/basket_icon.png" width="40"><span style="color:darkgreen">@Model</span></a>
}
else
{
    <a href="/basket/checkout"><img src="/icons/basket_icon.png" width="40"></a>
}